@font-face {
  font-family: Lato;
  src: url('./assets/fonts/Lato-Regular.ttf');
  font-weight: normal;
}

@font-face {
  font-family: Lato;
  src: url('./assets/fonts/Lato-Bold.ttf');
  font-weight: bold;
}

* , *:before, *:after{ 
  box-sizing:border-box; 
  -moz-box-sizing:border-box; 
  -webkit-box-sizing:border-box; 
  -ms-box-sizing:border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.view-container {
  width: 100%;
  height: 100%;
}

.icon {
  width: 24px;
  height: 24px;
  font-size: 24px;
  margin: 0;
  padding: 0;
}

* {
  color: #101010;
  font-family: Lato;
}