.article {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    background-image: #fff;
    cursor: pointer;
}

.article:hover {
    background-color: #fafafa;
}

.article:hover .inner-article .content-row .icon-container {
    opacity: 0.7;
}

.article:last-of-type .inner-article {
    border: none;
}

.inner-article {
    border-bottom: 1px solid #ccc;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 15px;
    padding-right: 15px;
}

.content-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.flex-1 {
    flex: 1;
}

.title-span {
    padding-left: 3px;
    padding-right: 3px;
    color: #333;
    font-size: 13pt;
}

.author-span {
    padding-left: 3px;
    padding-right: 3px;
    color: #999;
}

.mr-5vw {
    margin-right: 5vw;
}

.icon-container {
    padding: 4px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    opacity: 0;
    background: inherit;
    transition: background .1s ease-in;
}

.icon-container:hover {
    background: #ddd;
}

.capitalize {
    text-transform: capitalize;
}