.header {
    height: 25vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 5%;
    background-image: linear-gradient(to top right, #1f2f98, #1ca7ec);
}

.title {
    font-size: 42px;
    padding-bottom: 4px;
    font-weight: bold;
    color: #fafafa;
}

.subtitle {
    font-size: 20px;
    padding-top: 2px;
    color: #fafafa;
}